* {
    margin: 0;
    padding: 0;
    box-shadow: none;
}


h1 {
    align-self: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(103, 140, 165);
}

.encabezado {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.encabezado div {
    width: 150px;
}

.nameUsuario {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.fecha{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: cursive;
}